@{
    this.ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h2>Error - Login failed</h2>
    <p>
        If you'd like to log in using a different way, please visit the
        <a class="font-weight-bold" asp-area="Identity" asp-page="/Account/Login">
            Login page
        </a>
    </p>
</div>