@using PizzaDotNet.Common
@{
    this.ViewData["Title"] = "Title";
}

<div class="text-center">
    <h1>Select an action</h1>
    <a text="button" class="btn btn-outline-secondary btn-lg"
       asp-action="All">
        View all Orders
    </a>
</div>