@page
@model AddressesModel
@{
    ViewData["Title"] = "Address";
    ViewData["ActivePage"] = ManageNavPages.Addresses;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="">
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.PersonName">Personal name</label>
                <input asp-for="Input.PersonName" type="text" class="form-control">
                <span asp-validation-for="Input.PersonName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.PhoneNumber">Phone number</label>
                <input asp-for="Input.PhoneNumber" type="text" class="form-control">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.Area">Area</label>
                <input asp-for="Input.Area" type="text" class="form-control">
                <span asp-validation-for="Input.Area" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.Street">Street</label>
                <input asp-for="Input.Street" type="text" class="form-control">
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.Building">Building</label>
                <input asp-for="Input.Building" type="text" class="form-control">
                <span asp-validation-for="Input.Building" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input.Apartment">Apartment</label>
                <input asp-for="Input.Apartment" type="text" class="form-control">
                <span asp-validation-for="Input.Apartment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-primary w-50">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}