@page
@model PizzaDotNet.Web.Areas.Identity.Pages.Account.Manage.Addresses

@page
@model AddressesModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>ADDRESSES WORK!</h1>
</div>
</body>
</html>