@page
@model PizzaDotNet.Web.Areas.Identity.Pages.Account.Manage.CouponCodes

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>