@page
@model CouponCodesModel
@{
    ViewData["Title"] = "Coupon Codes";
    ViewData["ActivePage"] = ManageNavPages.CouponCodes;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>

<div>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">Coupon code</th>
            <th scope="col">Discount</th>
            <th scope="col">Valid until</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var couponCode in Model.CouponCodes)
        {
            <tr>
                <td>@couponCode.Code</td>
                <td>@couponCode.DiscountPercent%</td>
                <td>@couponCode.ValidUntil</td>
            </tr>
        }
        </tbody>
    </table>
</div>