/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- 
*/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image:url(../images/ui/background.jpg)
}

.footer {
    position: absolute;
    bottom: -20px;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Bootstrap Overrides
-------------------------------------------------- 
*/
.container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container-default {
    background-color: transparent ;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}


/* Custom classes
-------------------------------------------------- 
*/
.h5-custom {
    font-size: 1.25rem;
}

.h-100p {
    height: 100%;
}

.no-p {
    padding: 0;
}

.validation-summary-errors {
    display: block;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.validation-summary-errors ul {
    margin: 0;
}

#external-account button {
    width: 100%;
    margin: 4px;
}

.highlight {
    /*background-color: #f7f7f9;*/
    border-radius: 4px;
    margin-top: 20px;
}

/* Cart icon
-------------------------------------------------- 
*/
.cart-icon {
    height: 24px;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


/* Cart page
-------------------------------------------------- 
*/
.cart-product-description {

}

.cart-image {
}

.cart-ingredient {
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
    color: #777;
}

.cart-header-row {

}

