<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Orders">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Orders">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Orders">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Orders">Product Ratings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Orders">Orders</a>
    </li>
</ul>