@using PizzaDotNet.Common
@{
    this.ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h5>Please check our <a asp-controller="Categories" asp-action="Index">Menu</a></h5>
</div>

<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <a href="/Categories/Pizza">
            <img src="images/slideshow/pizza.jpg" style="width:100%">
        </a>
        <h5 class="text-center">Pizzas</h5>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <a href="/Categories/Starters">
            <img src="images/slideshow/pasta.jpg" style="width:100%">
        </a>
        <h5 class="text-center">Starters</h5>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <a href="/Categories/Desserts">
            <img src="images/slideshow/desserts.jpg" style="width:100%">
        </a>
        <h5 class="text-center">Desserts</h5>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

@section Scripts
{
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
        }
    </script>
}