@model PizzaDotNet.Web.ViewModels.Products.ProductCreateInputModel
@{
    this.ViewData["Title"] = "Create product";
}

<h1>Create product</h1>
<form method="post" asp-action="Create">
    <div>
        <label for="Name">Name:</label>
        <input id="Name" asp-for="Name" type="text"/>
        <span asp-validation-for="Name"> </span>
    </div>
    <br/>
    <div>
        <label for="Description">Description:</label>
        <input id="Description"  asp-for="Description" type="text"/>
        <span asp-validation-for="Description"> </span>
    </div>
    <br/>
    <div>
        <label for="Price">Price:</label>
        <input id="Price" asp-for="Price" type="number"/>
        <span asp-validation-for="Price"> </span>
    </div>
    <br/>
    <div>
        <label for="ImageUrl">Image:</label>
        <input id="ImageUrl" asp-for="ImageUrl" type="text"/>
        <span asp-validation-for="ImageUrl"> </span>
    </div>
    <br/>
    <div>
        <label for="CategoryId">Category:</label>
        <select
            id="CategoryId"
            asp-for="CategoryId"
            asp-items="Model.CategoriesListItems">
        </select>
        <span asp-validation-for="CategoryId"> </span>
    </div>
    <br/>
    <div>
        <input type="submit" class="btn btn-primary"/>
    </div>
</form>