@model PizzaDotNet.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Products dashboard";
}

<div class="text-center">
    <h1>Select an action</h1>
    <a text="button" class="btn btn-outline-secondary btn-lg"
       asp-action="All">
        View all Products
    </a>
    <a text="button" class="btn btn-outline-secondary btn-lg"
       asp-action="Create">
        Create Product
    </a>
</div>